include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/header
		include ../common/1home
		include ../common/2doing
		include ../common/3why
		include ../common/4products
		include ../common/5cite
		include ../common/6idea
		include ../common/7profi
		include ../common/8life
		include ../common/9consult
		include ../common/modal
		include ../common/footer
	// END body