.cite {
    padding: 100px 0 194px;
    position: relative;
    background: #f9f9f9;
    overflow: hidden;

    @media screen and (max-width: 880px) {
        padding: 50px 0;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -305px;
        right: 0;
        width: 772px;
        height: 970px;
        background: url('../img/cite-bg.png') no-repeat;
        
    }
    .wrap {
        position: relative;
        z-index: 1;
        &:before,
        &:after {
            content: "“";
            position: absolute;
            font-size: 405px;
            font-style: italic;
            font-family: "BebasNeueCyrillic", Arial, Helvetica, sans-serif;
            @media screen and (max-width: 880px) {
                font-size: 300px;
            }
        }
        &:before {
            top: 144px;
            left: -80px;
            @media screen and (max-width: 880px) {
                top: 111px;
                left: -40px;
            }
        }
        &:after {
            bottom: 144px;
            right: -90px;
            transform: rotate(180deg);
            @media screen and (max-width: 880px) {
                bottom: 111px;
                right: -40px;
            }
        }
    }
    &__body {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 5px;
            height: 90%;
            background: #212121;

        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 95%;
            height: 5px;
            background: #212121;
            @media screen and (max-width: 880px) {
                width: 85%;
            }
        }
    }
    &__body-wrap {
        display: flex;
        align-items: center;
        position: relative;
        padding: 100px 100px 80px 100px;
        @media screen and (max-width: 880px) {
            padding: 50px 50px;
            flex-wrap: wrap;
        }
        @media screen and (max-width: 579px) {
            padding: 50px 20px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 5px;
            height: 90%;
            background: #212121;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 95%;
            height: 5px;
            background: #212121;
            @media screen and (max-width: 880px) {
                width: 85%;
            }
        }
    }
    &__text {
        width: 62%;
        font-size: 14px;
        line-height: 24px;
        font-weight: 200;
        padding-right: 40px;
        @media screen and (max-width: 880px) {
            width: 100%;
            padding-right: 0;
        }
        @media screen and (max-width: 579px) {
           font-size: 13px;
           line-height: 1.4;
        }
        p {
            margin: 0 0 29px 0;
        }
    }
    &__item {
        width: 38%;
        @media screen and (max-width: 880px) {
            width: 100%;
        }
    }
    &__title {
        font-family: "BebasNeueCyrillic", Arial, Helvetica, sans-serif;
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 45px;
        @media screen and (max-width: 579px) {
            font-size: 25px;
            line-height: 1.2;
            margin-bottom: 20px;
        }
    }
    &__name {
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        padding-right: 15%;
    }
}