.profi {
    padding: 130px 0 120px;
    background: #000 url('../img/profi-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #f9f9f9;

    @media screen and (max-width: 880px) {
        padding: 50px 0;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 87px;
        @media screen and (max-width: 880px) {
            margin-top: 60px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        width: 30%;
        max-width: 310px;
        &:last-child {
            .profi__pic {
                width: 100px;
                margin-top: -16px;
                margin-right: 18px;
                @media screen and (max-width: 378px) {
                    width: 67px;
                    margin-right: 9px;
                }
            }
        }
        @media screen and (max-width: 880px) {
            max-width: none;
            width: 50%;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 579px) {
            width: 100%;
        }
    }
    &__pic {
        width: 70px;
        margin-right: 18px;
        @media screen and (max-width: 880px) {
            margin-right: 49px;
        }
        @media screen and (max-width: 378px) {
            margin-right: 28px;
            width: 48px;
        }
        img {
            width: 100%;
        };
    }
    &__title {
        font-family: "BebasNeueCyrillic", Arial, Helvetica, sans-serif;
        font-size: 30px;
        line-height: 1.2;
    }
    &__text {
        font-size: 14px;
        line-height: 18px;
        font-weight: 200;
    }
}