// $default-font: "SofiaProExtraLight", Arial, sans-serif;
// $second-font: "FuturaPT-Demi", Arial, sans-serif;
// $title-font: "FuturaPT-Medium", Arial, sans-serif;

$accent: #c29566;
$green: #405646;
$text: #333333; 
