section.home
    .wrap
        .home__body
            .home__pre Мы сделаем все то, что вы не можете найти в магазинах!
            .home__title Производим мебель  «как на картинке»
            .home__text Получите бесплатную консультацию специалиста и закажите реализацию вашей задумки с учетом пожеланий, технических требований и бюджета
            .home__btn
                a(href="#packages").btn.scroll-to Получить
        .home__pic
