section.doing
    .wrap
        .title Что мы делаем
        .doing__items   
            .doing__item
                .doing__num 01
                .doing__text Выполняем дизайн, проектирование и изготовление мебели любой сложности
            .doing__item
                .doing__num 02
                .doing__text Реализовываем комплексные дизайн-проекты
            .doing__item
                .doing__num 03
                .doing__text Делаем любую картинку реальным предметом
            .doing__item
                .doing__num 04
                .doing__text 
                    a(href="#consult").scroll-to Консультируем 
                    | по подбору материалов  и способу изготовления