section.why
    .wrap
        .title.title--white Почему у нас это получается
        .why__items   
            .why__item
                .why__pic
                    img(src="img/icons/chess.svg", alt="chess")
                .why__body
                    .why__title более 10 лет
                    .why__text успешно работаем на рынке
            .why__item
                .why__pic
                    img(src="img/icons/image.svg", alt="image")
                .why__body
                    .why__title Реализовываем то,  за что другие не берутся
            .why__item
                .why__pic
                    img(src="img/icons/stair.svg", alt="stair")
                .why__body
                    .why__title более 20 000 ед.
                    .why__text мебели произвели  за все годы работы
            .why__item
                .why__pic
                    img(src="img/icons/floor.svg", alt="floor")
                .why__body
                    .why__title Работаем с любыми материалами
        .why__btn
            .btn.btn--outline Получить консультацию