section.products#products
    .title Что вы можете у нас заказать 
    .products__wrap
        .products__items.owl-carousel
            .products__item
                .products__body
                    .wrap
                        .products__num 01/03
                        .products__title Отдельные  элементы интерьера
                        .products__text Кухни, мебель для ванной комнаты, шкафы, комоды, кровати, столы, лестницы, двери, прихожие и любую другую мебель по изображению из Pinterest, или Instagram
                .products__pic
                    .products__pic-num 01
                    img(src="img/slider1.jpg", alt="slider")
            .products__item
                .products__body
                    .wrap
                        .products__num 02/03
                        .products__title Отдельные  элементы интерьера
                        .products__text Кухни, мебель для ванной комнаты, шкафы, комоды, кровати, столы, лестницы, двери, прихожие и любую другую мебель по изображению из Pinterest, или Instagram
                .products__pic
                    .products__pic-num 02
                    img(src="img/slider2.jpg", alt="slider")
            .products__item
                .products__body
                    .wrap
                        .products__num 03/03
                        .products__title Отдельные  элементы интерьера
                        .products__text Кухни, мебель для ванной комнаты, шкафы, комоды, кровати, столы, лестницы, двери, прихожие и любую другую мебель по изображению из Pinterest, или Instagram
                .products__pic
                    .products__pic-num 03
                    img(src="img/slider3.jpg", alt="slider")