section.cite#cite
    .wrap
        .cite__body
            .cite__body-wrap
                .cite__text 
                    p Мы делаем мебель, которая не только функциональная и радует глаз, но и долго служит, сохраняя свой опрятный вешний вид. Поэтому учитываем детали, о которых часто забывают: кто будет использовать этот предмет мебели, где он будет стоять, возможен ли контакт с детьми или животными, какие условия стоит учесть для стойкости покрытия и многое другое.
                    p Именно поэтому предварительное обсуждение проекта — один из самых главных этапов. Наша задача за короткое время квалифицировать вас, чтобы вы смогли сами сориентироваться какой материал подойдет под вашу задачу, почему именно он, какое покрытие будет самым удачным, какая фурнитура будет соответствовать вашим требованиям и пожеланиям.
                .cite__item
                    .cite__title Мы хотим, чтобы уют в домах наших клиентов был создан из мебели, которую они хотят, а не которую им предлагают.
                    .cite__name Команда Stolyar.te