section.idea
    .wrap
        .title Готовы реализовать свою заветную идею?
    .idea__wrap
        .idea__body
            .idea__body-wrap
                .idea__title Наш план  такой:
                .idea__btn
                    a(href="#consult").scroll-to.btn План подходит
        .idea__slider
            .idea__items.owl-carousel
                .idea__item
                    .idea__pic
                        .idea__num 01
                        img(src="img/idea1.jpg", alt="idea")
                    .idea__item-text Бесплатная консультация
                .idea__item
                    .idea__pic
                        .idea__num 02
                        img(src="img/idea2.jpg", alt="idea")
                    .idea__item-text Предварительная  оценка
                .idea__item
                    .idea__pic
                        .idea__num 03
                        img(src="img/idea3.jpg", alt="idea")
                    .idea__item-text Выезд дизайнера  и замерщика 
                .idea__item
                    .idea__pic
                        .idea__num 04
                        img(src="img/idea4.jpg", alt="idea")
                    .idea__item-text Подготовка  эскиза
                .idea__item
                    .idea__pic
                        .idea__num 05
                        img(src="img/idea5.jpg", alt="idea")
                    .idea__item-text производство
                .idea__item
                    .idea__pic
                        .idea__num 06
                        img(src="img/idea6.jpg", alt="idea")
                    .idea__item-text Бесплатная
                .idea__item
                    .idea__pic
                        .idea__num 07
                        img(src="img/idea7.jpg", alt="idea")
                    .idea__item-text Бесплатная