section.profi
    .wrap
        .title.title--white Мы — профессионалы своего дела, поэтому
        .profi__items 
            .profi__item
                .profi__pic
                    img(src="img/icons/term.svg", alt="term")
                .profi__body
                    .profi__title Даем 1 год гарантии
                    .profi__text на произведенную нами мебель
            .profi__item
                .profi__pic
                    img(src="img/icons/deadline.svg", alt="deadline")
                .profi__body
                    .profi__title фиксируем сроки
                    .profi__text производства в договоре
            .profi__item
                .profi__pic
                    img(src="img/icons/deadline2.svg", alt="deadline")
                .profi__body
                    .profi__title возвращаем 0,5%
                    .profi__text за каждый день просрочки