section.life
    .wrap
        .title Мы — профессионалы своего дела, поэтому
        .life__body
            .life__left
                .life__pic
                    img(src="img/life1.jpg", alt="life")
                .life__pic
                    img(src="img/life2.jpg", alt="life")
                .life__pic
                    img(src="img/life3.jpg", alt="life")
                .life__pic
                    img(src="img/life4.jpg", alt="life")
                .life__pic
                    img(src="img/life5.jpg", alt="life")
            .life__right
                .life__pic
                    img(src="img/life6.jpg", alt="life")
                .life__pic
                    img(src="img/life7.jpg", alt="life")
                .life__pic
                    img(src="img/life8.jpg", alt="life")