section.life
    .wrap
        .title Какие картинки мы воплотили в жизнь (или воплощаем)
        .life__body
            .life__left
                .life__pic
                    img(src="img/life1.jpg", alt="life")
                .life__pic
                    img(src="img/life2.jpg", alt="life")
                .life__pic
                    img(src="img/life3.jpg", alt="life")
                .life__pic
                    img(src="img/life4.jpg", alt="life")
                .life__pic
                    img(src="img/life5.jpg", alt="life")
            .life__right
                .life__pic
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/S-i-cc5NQ5M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .life__pic
                    img(src="img/life7.jpg", alt="life")
                .life__pic
                    img(src="img/life8.jpg", alt="life")