footer.footer
    .wrap
        a(href="https://nox.agency/").footer__logo 
            img(src="img/logo-nox-white2.png", alt="nox")
a(href="#home").scroll-to.btn-to-top 

script(src="js/scripts.min.js")
script(src="js/common.js")
 