header
	nav
		.wrap
			.nav
				.logo
					.logo__text stolyar.te
				.menu-wrap
					.menu-toggle 
						.one
						.two
						.three

					nav.main-menu 
						ul
							li
								a(href="#cite").scroll-to О нас
							li
								a(href="#idea").scroll-to Этапы работы
							li
								a(href="#products").scroll-to Каталог
							li
								a(href="#consult").scroll-to Контакты 
							li.nav__phone
								a(href="tel:+380955663411") 
									.nav__icon
										img(src="img/icons/call.svg", alt="phone")
									| (095) 566 34 11
				.lang
					a(href="#").lang__item.active RU
					a(href="#").lang__item UA
						


		.header
			
